<div class="container-fluid page-content">
  <div class="row">
      <nav class='opinion_nav mb-3 mt-3'>
      
        <h6>My Posts</h6>
        
      </nav>

    </div>
    
    <div class="col-3 col-left-border">
        <%= @opinion.Text%>
    </div>
  </div>
</div>
