<div class="container-fluid page-content">
      <nav class='opinion_nav mb-3 mt-3'>
        <h6>Followers</h6>
      </nav>
      <% if @user.followers != nil? %>
            <% @user.followers.each  do |follower| %>
                <p><%= follower.name %></p>
            <% end %>
        <% end %>
</div>